user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        server_name {{ server_name }};

        location / {
            root {{ root_path }};
            index index.html index.htm;
        }
    }
}
